
#TabelaSelecaoTurmas tr:nth-child(even) td {
	background-color: #efefef !important;
	vertical-align: middle;
}

#TabelaSelecaoTurmas tr:nth-child(odd) td {
	background-color: #ffffff !important;
	vertical-align: middle;
}

td:empty::after {
	content: "\00a0";
}



